@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Playfair+Display:wght@400;500&family=Poppins:ital,wght@1,200&display=swap');

$formato-titulo: 'Dela Gothic One', cursive;
$color-titulo: rgb(141, 70, 23);
$formato-subtitulo: 'Poppins', sans-serif;
$color-subtitulo: rgb(128, 99, 56);