body{
    background-color: rgb(252, 245, 235);
}

.title{
    h1{
      text-align: center;
    font-family: $formato-titulo;
    color: $color-titulo;
}
}

h2{
  text-align: center;
    color: $color-subtitulo;
    font-family: $formato-subtitulo;
  }
  .banner{
    width: 100%;
}
.divMain{
  display: inline-block;
  text-align: center;
  margin: 1rem;
}
.animaciones{
  transition-property: all;
  transition-duration: 1s;
}

.animaciones:hover{
  transform: scale(1.2);
  border-radius: 5%;
}